@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #da1a00;
  width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "TT Travels";
  background: #fff;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.header_block {
  display: flex;
  align-items: center;
  padding: 27px 0;
  position: relative;
}
.header_block::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 26.94%, #FFF 71.22%, rgba(255, 255, 255, 0) 100%);
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header_logo .logo {
  transition: all 0.3s ease;
}
.header_logo .logo:hover {
  opacity: 0.4;
}
.header_logo .map {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_logo .map:hover {
  opacity: 0.7;
}
.header_menus {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-left: auto;
}
.header_menus a {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_menus a:hover {
  opacity: 0.7;
}
.header_phone {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: 38px;
}
.header_phone a {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_phone a:hover {
  opacity: 0.7;
}

.hero {
  background: linear-gradient(180deg, #161616 -17.63%, rgba(22, 22, 22, 0.4) 73.59%, rgba(22, 22, 22, 0) 100%), url("../images/hero_banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_block {
  margin-top: 31px;
}
.hero_main {
  display: flex;
  flex-direction: column;
}
.hero_title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 47px;
}
.hero_title h1 {
  background: linear-gradient(90deg, rgba(230, 120, 57, 0.68) 0%, rgba(230, 120, 57, 0) 92.38%);
  width: 77%;
  padding: 3px 19px;
  color: #FFF;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero_title h2 {
  text-align: right;
  color: #FFF;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.hero_list {
  background: rgba(31, 35, 36, 0.15);
  padding: 15px 21px;
  margin-bottom: 32px;
}
.hero_list ul {
  display: flex;
  gap: 78px;
  align-items: center;
}
.hero_list li {
  display: flex;
  gap: 7px;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.hero_button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.hero_button a {
  border-radius: 26px;
  background-color: #FF8743;
  padding: 13px 38px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}
.hero_button a:hover {
  background-color: #f86a19;
}

<<<<<<< HEAD
.models {
  margin-bottom: 40px;
}
=======
<<<<<<< HEAD
.trade {
  background: linear-gradient(270deg, rgba(34, 31, 32, 0) 0%, rgba(34, 31, 32, 0.5) 31.93%, #221F20 100%), url("../images/trade_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trade_main {
  padding-top: 34px;
  padding-bottom: 34px;
}
.trade_title {
  margin-bottom: 15px;
}
.trade_title h2 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.trade_text {
  margin-bottom: 39px;
}
.trade_text p {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
}
.trade_text p span {
  font-weight: 700;
}
.trade_list {
  margin-bottom: 39px;
}
.trade_list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 9px;
}
.trade_formInfo {
  max-width: 430px;
}
.trade_formInfo input {
  width: 100%;
  border-radius: 26px;
  border: 1px solid #FFF;
  background-color: transparent;
  padding: 15px 20px;
  margin-bottom: 18px;
  outline: none;
  color: #FFF;
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.7%; /* 22.605px */
}
.trade_formInfo input::placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.7%; /* 22.605px */
}
.trade_formInfo input:focus {
  opacity: 1;
}
.trade_button {
  margin-bottom: 9px;
}
.trade_button a {
  border-radius: 26px;
  background: #FF8743;
  padding: 16px 101px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}
.trade_button a:hover {
  background-color: #f86a19;
}
.trade_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.trade_checkbox label {
  color: #F7FCFB;
  font-family: "Open Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trade_checkbox a {
  color: #F7FCFB;
  font-family: "Open Sans";
  font-size: 10px;
=======
>>>>>>> 6e47fe2bd6c09c5d1067d00594fb35b98e4324be
.models h2 {
  text-align: center;
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 26px auto;
}
.models .tabs_block {
  position: relative;
  width: 66%;
  margin: 0 auto;
}
.models .tabs_block .tabs_wrapper {
  overflow: hidden;
  width: 100%;
}
.models .tabs_block .tabs {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}
.models .tabs_block .tabs li {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding-left: 19px;
  padding-right: 19px;
}
.models .tabs_block .tabs li:first-child {
  padding-left: 0;
}
.models .tabs_block .tabs li.active {
  color: #FF8743;
}
.models .tabs_block .tab_prev, .models .tabs_block .tab_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.models .tabs_block .tab_prev img, .models .tabs_block .tab_next img {
  width: 24px;
}
.models .tabs_block .tab_prev {
  left: -35px;
  display: none;
}
.models .tabs_block .tab_next {
  right: -35px;
  display: none;
}
.models .model_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 23px;
}
.models .model_card {
  background-image: url("../images/model_card_bg.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 44px 0;
}
.models .model_card .card_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.models .model_card .card_left h3 {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.models .model_card .card_left ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.models .model_card .card_left li {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.models .model_card .card_brand {
  position: relative;
  left: -60px;
}
.models .model_card .card_brand span {
  position: absolute;
  left: 58px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.models .model_card .card_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.models .model_card .old_cost {
  color: rgba(76, 88, 101, 0.61);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.models .model_card .old_cost::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: rgba(76, 88, 101, 0.61);
}
.models .model_card .new_cost {
  color: #FF8743;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  text-wrap: nowrap;
}
.models .model_card .new_cost span {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  margin-right: 32px;
}
.models .model_card .credit_cost {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  text-wrap: nowrap;
  margin-right: auto;
  margin-bottom: 12px;
}
.models .model_card .credit_cost span {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  margin-right: 6px;
}
.models .model_card .card_btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.models .model_card .card_btns .get {
  width: 100%;
  border-radius: 26px;
  background: #FF8743;
  padding: 12px 40px;
  text-wrap: nowrap;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}
.models .model_card .card_btns .get:hover {
  background-color: #f86a19;
}
.models .model_card .card_btns .buy {
  width: 100%;
  border-radius: 26px;
  border: 1px solid #4C5865;
  padding: 12px 40px;
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
  text-align: center;
}
.models .model_card .card_btns .buy:hover {
  color: #fff;
  background-color: #4C5865;
}

.trade {
  background: linear-gradient(270deg, rgba(34, 31, 32, 0) 0%, rgba(34, 31, 32, 0.5) 31.93%, #221F20 100%), url("../images/trade_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trade_main {
  padding-top: 34px;
  padding-bottom: 34px;
}
.trade_title {
  margin-bottom: 15px;
}
.trade_title h2 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.trade_text {
  margin-bottom: 39px;
}
.trade_text p {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
}
.trade_text p span {
  font-weight: 700;
}
.trade_list {
  margin-bottom: 39px;
}
.trade_list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 9px;
}
.trade_formInfo {
  max-width: 430px;
}
.trade_formInfo input {
  width: 100%;
  border-radius: 26px;
  border: 1px solid #FFF;
  background-color: transparent;
  padding: 15px 20px;
  margin-bottom: 18px;
  outline: none;
  color: #FFF;
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.7%; /* 22.605px */
}
.trade_formInfo input::placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.7%; /* 22.605px */
}
.trade_formInfo input:focus {
  opacity: 1;
}
.trade_button {
  margin-bottom: 9px;
}
.trade_button a {
  border-radius: 26px;
  background: #FF8743;
  padding: 16px 101px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
>>>>>>> ffe341c6500a60e4f06c77f87cd976c927249a90
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
<<<<<<< HEAD
=======
.trade_button a:hover {
  background-color: #f86a19;
}
.trade_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.trade_checkbox label {
  color: #F7FCFB;
  font-family: "Open Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trade_checkbox a {
  color: #F7FCFB;
  font-family: "Open Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.trade_checkbox input {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 13px;
  border: 1.5px solid #fff;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.trade_checkbox input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 4.5px;
  transform: translate(-50%, -50%);
  background-image: url("../images/checkbox-check.svg"); /* <- BU YERDA O‘ZINGIZ XOHlAGAN RASM URL sini qo‘ying */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.equipment {
  padding-top: 50px;
}
.equipment h2 {
  text-align: center;
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}
.equipment .equipment_filters {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.equipment .custom-select-wrapper {
  position: relative;
  width: 280px;
  border-radius: 26px;
  border: 1px solid rgba(76, 88, 101, 0.26);
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.equipment .custom-selected {
  padding: 12px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 26px;
  border: 1px solid rgba(76, 88, 101, 0.26);
}
.equipment .custom-selected .arrow {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: transform 0.3s ease;
}
.equipment .custom-select-dropdown {
  display: none;
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}
.equipment .custom-select-wrapper.open .custom-select-dropdown {
  display: block;
}
.equipment .custom-select-dropdown .search {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}
.equipment .custom-select-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.equipment .custom-select-dropdown li {
  padding: 15px 15px;
  cursor: pointer;
}
.equipment .custom-select-dropdown li:hover {
  background-color: #f0f0f0;
}
.equipment_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 23px;
}
.equipment_card {
  background-image: url("../images/equipment_card_bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 42px;
}
.equipment_card .card_left h3 {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.equipment_card .card_left p {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 28px;
}
.equipment_card .card_left ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 13px 0;
}
.equipment_card .card_left li {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.equipment_card .card_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.equipment_card .old_cost {
  color: rgba(76, 88, 101, 0.61);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.equipment_card .old_cost::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: rgba(76, 88, 101, 0.61);
}
.equipment_card .new_cost {
  color: #FF8743;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  text-wrap: nowrap;
}
.equipment_card .new_cost span {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  margin-right: 32px;
}
.equipment_card .credit_cost {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  text-wrap: nowrap;
  margin-right: auto;
  margin-bottom: 12px;
}
.equipment_card .credit_cost span {
  color: #4C5865;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  margin-right: 6px;
}
.equipment_card .card_btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.equipment_card .card_btns .get {
  width: 100%;
  border-radius: 26px;
  background: #FF8743;
  padding: 12px 40px;
  text-wrap: nowrap;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}
.equipment_card .card_btns .get:hover {
  background-color: #f86a19;
}
.equipment_card .card_btns .buy {
  width: 100%;
  border-radius: 26px;
  outline: 1px solid #FF8743;
  padding: 12px 40px;
  color: #FF8743;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
  text-align: center;
}
<<<<<<< HEAD
.equipment_card .card_btns .buy:hover {
  color: #fff;
  background-color: #FF8743;
=======
>>>>>>> ffe341c6500a60e4f06c77f87cd976c927249a90
.trade_checkbox input {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 13px;
  border: 1.5px solid #fff;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.trade_checkbox input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 4.5px;
  transform: translate(-50%, -50%);
  background-image: url("../images/checkbox-check.svg"); /* <- BU YERDA O‘ZINGIZ XOHlAGAN RASM URL sini qo‘ying */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
>>>>>>> 6e47fe2bd6c09c5d1067d00594fb35b98e4324be
}/*# sourceMappingURL=main.css.map */