html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #da1a00;
  width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TT Travels";
  background: #fff;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.header_block {
  display: flex;
  align-items: center;
  padding: 27px 0;
  position: relative;
}
.header_block::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 26.94%, #FFF 71.22%, rgba(255, 255, 255, 0) 100%);
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header_logo .map {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_logo .map:hover {
  opacity: 0.7;
}
.header_menus {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-left: auto;
}
.header_menus a {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_menus a:hover {
  opacity: 0.7;
}
.header_phone {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: 38px;
}
.header_phone a {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_phone a:hover {
  opacity: 0.7;
}

.hero {
  background: linear-gradient(180deg, #161616 -17.63%, rgba(22, 22, 22, 0.4) 73.59%, rgba(22, 22, 22, 0) 100%), url("../images/hero_banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_block {
  margin-top: 31px;
}
.hero_main {
  display: flex;
  flex-direction: column;
}
.hero_title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 47px;
}
.hero_title h1 {
  background: linear-gradient(90deg, rgba(230, 120, 57, 0.68) 0%, rgba(230, 120, 57, 0) 92.38%);
  width: 77%;
  padding: 3px 19px;
  color: #FFF;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero_title h2 {
  text-align: right;
  color: #FFF;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.hero_list {
  background: rgba(31, 35, 36, 0.15);
  padding: 15px 21px;
  margin-bottom: 32px;
}
.hero_list ul {
  display: flex;
  gap: 78px;
  align-items: center;
}
.hero_list li {
  display: flex;
  gap: 7px;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.hero_button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.hero_button a {
  border-radius: 26px;
  background-color: #FF8743;
  padding: 13px 38px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}
.hero_button a:hover {
  background-color: #f86a19;
}

.hero {
  background: linear-gradient(180deg, #161616 -17.63%, rgba(22, 22, 22, 0.4) 73.59%, rgba(22, 22, 22, 0) 100%), url("../images/hero_banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_block {
  margin-top: 31px;
}
.hero_main {
  display: flex;
  flex-direction: column;
}
.hero_title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 47px;
}
.hero_title h1 {
  background: linear-gradient(90deg, rgba(230, 120, 57, 0.68) 0%, rgba(230, 120, 57, 0) 92.38%);
  width: 77%;
  padding: 3px 19px;
  color: #FFF;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero_title h2 {
  text-align: right;
  color: #FFF;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.hero_list {
  background: rgba(31, 35, 36, 0.15);
  padding: 15px 21px;
  margin-bottom: 32px;
}
.hero_list ul {
  display: flex;
  gap: 78px;
  align-items: center;
}
.hero_list li {
  display: flex;
  gap: 7px;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.hero_button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.hero_button a {
  border-radius: 26px;
  background-color: #FF8743;
  padding: 13px 38px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}
.hero_button a:hover {
  background-color: #f86a19;
}

.hero {
  background: linear-gradient(180deg, #161616 -17.63%, rgba(22, 22, 22, 0.4) 73.59%, rgba(22, 22, 22, 0) 100%), url("../images/hero_banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_block {
  margin-top: 31px;
}
.hero_main {
  display: flex;
  flex-direction: column;
}
.hero_title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 47px;
}
.hero_title h1 {
  background: linear-gradient(90deg, rgba(230, 120, 57, 0.68) 0%, rgba(230, 120, 57, 0) 92.38%);
  width: 77%;
  padding: 3px 19px;
  color: #FFF;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero_title h2 {
  text-align: right;
  color: #FFF;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.hero_list {
  background: rgba(31, 35, 36, 0.15);
  padding: 15px 21px;
  margin-bottom: 32px;
}
.hero_list ul {
  display: flex;
  gap: 78px;
  align-items: center;
}
.hero_list li {
  display: flex;
  gap: 7px;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.hero_button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.hero_button a {
  border-radius: 26px;
  background-color: #FF8743;
  padding: 13px 38px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}
.hero_button a:hover {
  background-color: #f86a19;
}/*# sourceMappingURL=main.css.map */